.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;
    padding: .75rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #051650;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar-center {
    flex-grow: 1; 
    display: flex; 
    justify-content: center;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin: 0 4rem; 
}

.navbar-center .nav-links a {
    color: #051650;
    font-weight: bold;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .login-button {
    background-color: #051650; 
    color: #fff; 
    padding: 0.2rem 3rem; 
    border: 1px solid #000;
    border-radius: 20px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-right: 1rem; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-right .login-button:hover {
    background-color: #e0e0e0; 
}
